<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update post record</h1>
    <h3>user ID :   <%= post.id %> </h3>
    <h3>user Name : <%= post.username %>  </h3> 
    <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
        <input type="text" name="username" value="<%= post.username %>"><br>
        <textarea name="contant" cols="30" rows="10"><%= post.contant %></textarea><br>
        <button type="submit">Submit</button>
    </form>    
</body>
</html>
