<%- include("include/head.ejs") %>
<body>
    <h1>Instagram</h1>
  <h2>User  <%= data.name %></h2>
  <button>Follow</button> &nbsp; &nbsp; <button>Massage</button>
  <h2>followers  <%= data.followers %> &nbsp; &nbsp; following  <%= data.following %> </h2>
  <hr/>
  <% for(let post of data.posts){ %> 
    <img src=" <%= post.image %> " alt="Image">
    <p>Likes - <%= post.likes  %> &nbsp; Comments - <%= post.comments %></p>
  <% } %>
</body>
<script src="/script.js"></script>
</html>